<!-- <launch>
    <param name="cmd_vel_topic" type="string" value="cmd_vel"/>
    <node pkg="sentry_serial" type="sentry_send" name="sentry_send" output="screen" 
    args="/dev/ttyACM0">
	
    </node>
</launch> -->



<launch>
    <arg name="cmd_vel_topic" default="cmd_vel"/>
    <node pkg="ranger_base" type="ranger_base_node" name="ranger_base_node" output="screen">
        <param name="can_interface" value="can0"/>
        <param name="cmd_vel_topic" value="$(arg cmd_vel_topic)"/>
    </node>
</launch>